doctype html
html
  head
    title Purple Cow
    link(rel='stylesheet', href='/css/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    main
      block header
        header.header
          a(id="mainLink" href="https://fearless.tech") Our site &nbsp;&nbsp;
          a(id="history" href="https://fearless.tech/history") Fearless history &nbsp;&nbsp;
          a(id="contact" href="https://fearless.tech/contact") Contact Us
      block content